@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  /* background-image: url("/assets/images/grid.svg"); */
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%),
    radial-gradient(at 97% 21%, rgb(231, 84, 15) 0px, transparent 50%), radial-gradient(at 52% 99%, rgb(18, 224, 207) 0px, transparent 50%),
    radial-gradient(at 10% 29%, rgb(62, 11, 95) 0px, transparent 50%), radial-gradient(at 97% 96%, rgb(149, 228, 162) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(248, 14, 217) 0px, transparent 50%), radial-gradient(at 79% 53%, rgb(212, 235, 8) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.container {
  max-width: 400px;
  margin: 0 auto;
  /* height: 100vh; */
}

@media (min-width: 350px) {
  .container {
    max-width: 350px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1800px) {
  .inner-content {
    padding-top: 9rem;
  }
}

.app {
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  /* max-width: 80rem; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
}
@media (min-width: 640px) {
  .app {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.action-btn {
  @apply float-right block text-center text-sm h-[38px] leading-[38px] cursor-pointer transition-all duration-300 ease-[ease] text-[#505667] no-underline rounded-md;
}

.head_text {
  margin-top: 1.25rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
@media (min-width: 640px) {
  .head_text {
    font-size: 3.75rem;
    line-height: 1;
  }
}

.hero-bg {
  position: absolute;
  right: -67px;
  top: -230px;
  width: 804px;
  height: 800px;
  background: url(../assets/hero_bg.png) no-repeat;
  z-index: -2;
}
.hero-image {
  position: relative;
  animation: moveUpDown 4s infinite;
  --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.blue_gradient {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #2563eb var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(37 99 235 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #0891b2 var(--tw-gradient-to-position);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}
