/* @import "./fontawesome.min.css";
@import "./regular.min.css"; */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
a {
  color: unset;
  text-decoration: unset;
}
.flex {
  display: flex;
}

.container {
  width: 400px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: var(--body-bg);
  /* padding: 1rem; */
}
.container header {
  display: flex;
  justify-content: space-between;
  /* padding: 1rem 0; */
  margin: 1rem 2rem 1rem 2rem;
  color: var(--primary);
}
.container main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.container main article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.container main article.copy-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.container main article.copy-container div {
  width: 50%;
  padding: 0.8rem;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 0.25rem;
  border-color: white;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.container main article textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  height: 150px;
  resize: vertical;
  border-color: var(--primary);
  width: 100%;
  background-color: var(--background);
  color:var(--field-color)
}
.container footer {
  /* margin: 1rem; */
}
/* The checkbox-container */
.checkbox-container {
  color: var(--field-color);
  display: block;
  position: relative;
  padding-left: 30px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* padding-bottom: 0; */
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 21px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Theme switcher styles */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: black url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
